body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Verdana, sans-serif;
  max-height: 100vh;
}
main {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(98, 125, 129);
  height: 90vh;
  width: 60vw;
  min-width: fit-content;
  border-radius: 30px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.game-container,
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 5px;
  margin-top: 20px;
  background-color: rgb(173, 172, 172);
  border: 1px solid green;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: hwb(0 22% 78% / 0.322);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid;
  transition: background-color 0.2s;
}

.cell:hover {
  background-color: #e0e0e0;
}

.cell.clicked {
  cursor: not-allowed;
  background-color: #e0e0e0;
}

.game-over-msg {
  color: #28a745;
  font-size: 1.5rem;
}

.success-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #28a745;
  color: white;
  border-radius: 20px;
  padding: 0 60px;
}
.new-game-btn {
  padding: 10px;
  border: white 2px solid;
  color: #00ff3c;
  background-color: #4792a0;
  box-shadow: rgb(98, 125, 129);
  border-radius: 20px;
  margin-bottom: 20px;
}
.new-game-btn:hover {
  cursor: pointer;
  background-color: hsl(189, 39%, 34%);
  transform: translateY(2px);
  transition: all 0.4s;
}
