* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  justify-content: center;
}

#grid-bord {
  display: grid;
  grid-template-columns: repeat(10, 10fr);
  gap: 2px;
  background-color: rgb(146, 145, 145);
}

.square {
  width: 30px;
  height: 30px;
  background-color: hwb(0 50% 50% / 0.322);
}
