* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
  background-color: rgb(173, 172, 172);
}

.square {
  width: 30px;
  height: 30px;
  background-color: hwb(0 22% 78% / 0.322);
  border: 1px solid ;
}
